/* CSS Document */
body{padding:0;margin:0;font-size:12px;} 

div,ul,li,p,h1,input,img,form,font,dl,dt,dd,h1,h2,h3,h4{ margin:0;padding:0;}

img{border:none;}

ul,li{list-style:none;}

a{text-decoration:none;}



.help_center{margin-top:50px;}
/**** Œ Ã‚Ω‚¥ ****/

.wtjd_right{width:760px; overflow:hidden; float:right;}

.wtjd_top{width:760px; height:121px; background:url(../images/help_searchbg.gif) no-repeat;}

.wt_left{width:79px; height:69px; float:left; margin:20px 0 0 20px;}

	.ke_fu{ width:185px; height:68px; background:url(../images/phone_zx.gif) no-repeat; padding-left:35px; padding-top:35px; border:1px solid #ccc;}
	.ke_fu span{ font-size:20px; color:#de8d24; line-height:30px;}
	.ke_fu p{ font-size:12px; color:#9d9d9d;}

.wt_right{width:630px; height:69px; float:left; margin:20px 0 0 20px;}

.sr{width:630px; overflow:hidden; float:right;}

.bzzx_input{width:417px; height:35px; border:1px solid #ccc; color:#666; font-size:14px; line-height:35px; padding-left:5px; float:left;}

.bzzx_submit{width:48px; height:37px; border:1px solid #ccc ; background:#f5f5f5; color:#666; font-size:14px; font-weight:bold; margin: 0 0 0 5px;}

.rm{width:630px; overflow:hidden; float:right; margin:5px 0 0 0;font-size:12px; line-height:25px; color:#333;}

.rm a{font-size:12px; line-height:25px; color:#0066cc;}

.wt_center{width:758px; overflow:hidden; border:1px solid #ccc;}

.circuit .rmlc_lxl {font-size:20px; color:#333; line-height:30px; font-weight:bold; padding-left:10px;}

.circuit_title b {padding:1px 10px 1px 5px; width:20px; line-height:20px; display:inline-block; float:left;}

.circuit_title b.hirer{color:#EA5E00;  border-right:3px solid #EA5E00; }

.circuit_title b.witkey{color:#0099CC;  border-right:3px solid #0099CC;}

.circuit .circuit_step{margin-left:25px; font-size:12px;}

.circuit .circuit_step li{height:60px; width:48px; overflow:hidden; border:1px solid #E9E9E9; color:#333; background:#F9F9F9; text-align:center; padding:10px 15px; float:left; line-height:24px;}

.circuit .circuit_step li.three_icon{padding:2px 16px; height:76px; width:80px;}

.circuit .circuit_step li.three_icon p{width:80px; display:block;padding:0; margin:0;}

.circuit .circuit_step li.three_icon span.icon18 img{width:16px; height:16px; float:left; padding:5px 0 0 0;}

.circuit .circuit_step li.two_icon{width:84px;}

.circuit .circuit_step li.two_icon div{width:32px; overflow:hidden; float:left; margin-right:5px;}

.circuit .circuit_step li.two_icon span.icon_help32{margin:5px 0 0 0;} 

.circuit .circuit_step li.help_arrow{background:url(../images/help_arrow.gif) no-repeat center center; width:22px; height:62px; border:none; padding:10px 13px 10px 12px; _padding:10px 11px 10px 10px;}

.two_help .help_box{width:373px;}

.two_help .help_box .box_title .fl_r{ font-weight:normal; font-size:12px;}

.simple_style .content .right_con .two_help .help_box .help_info li a{font-size:12px; width:320px; word-break:break-all; word-wrap:break-word;  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

.icon_help32.re_member {
	background-position: 0 -224px;
}

.gzrm{width:720px; height:100px; margin:10px auto 0;}

.zcybz_z{width:760px; overflow:hidden; margin-top:10px;}

.zcybz_left{width:373px; overflow:hidden; border:1px solid #ccc; float:left;}

.zcybz_left h2{font-size:14px; font-weight:bold; line-height:35px; border-bottom:1px solid #ccc; padding-left:10px;}

.zcybz_left ul{width:360px; margin:0 auto;}

.zcybz_left ul li{width:360px; height:30px; line-height:30px;}

.zcybz_left ul li a{color:#0066cc; font-size:12px;}

.zcybz{width:373px; overflow:hidden; border:1px solid #ccc; float:right;}

.zcybz h2{font-size:14px; font-weight:bold; line-height:35px; border-bottom:1px solid #ccc; padding-left:10px;}

.zcybz ul{width:360px; margin:0 auto;}

.zcybz ul li{width:360px; height:30px; line-height:30px;}

.zcybz ul li a{color:#0066cc; font-size:12px;}

.yhzhleft,.yhgzleft{ float:left; width:222px; overflow:hidden;}
	.yh_list{ width:220px; overflow:hidden; pading-bottom:10px; border:1px #ccc solid; position:relative;}
	.yhzhleftnav{ width:220px; height:44px; border-bottom:1px #e8e8e8 solid; }
	.yhzhleftnav p{  font-size:16px; line-height:44px; text-align:center;}
	
	.yhzhlefttree{ width:150px; overflow:hidden; padding:10px 10px 10px 60px;}
	.yhzhlefttree  ul{ margin-top:5px;}
	.yhzhlefttree ul li{ font-size:13px; line-height:23px; font-size:16px;}
	.yhzhlefttree ul li ul li p{ font-size:12px;}
	.yhzhlefttree ul li.p,.yhzhlefttree  ul li.m { background:url(../images/p.gif) no-repeat 2px 8px;cursor:pointer;text-indent:17px;padding:0px 0;}
	.yhzhlefttree ul li.p {background:url(../images/m.gif) no-repeat 2px 8px;}
	.yhzhlefttree ul li ul li p:hover { color:#48b78d}
	.yh_gy{ width:166px; height:68px; background:url(../images/gybg.png) no-repeat; padding-left:55px; padding-top:10px;}
	.yhzhlefttree a { color:#000}
	.yhzhlefttree a:hover { color:#48b78d}

	.yh_side{ width:151px; height:65px;padding-left:70px; padding-top:10px; background:url(../images/ll.png) repeat-x; border-bottom:1px #cccccc solid; }
	.yh_side img{ position:absolute; top:18px; left:15px; }
	.t0 img{ position:absolute; top:93px; left:15px;}
	.t1 img{ position:absolute; top:168px; left:15px;}
	.t2 img{ position:absolute; top:243px; left:15px;}
	.t3 img{ position:absolute; top:318px; left:15px;}
