
body
{
	margin: 0;
	padding: 0;
	line-height: 16px;
	font: 75%/1em Arial, Helvetica, sans-serif,'ו';

}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
{
	margin: 0;
	padding: 0;
}

a {color:#2366A8;hide-focus: expression( this.hideFocus=true );outline: none;}
a:hover, a:active, a:focus {text-decoration:none;}
form
{
	margin: 0;
	padding: 0;
}




.clear
{
	clear: both;
}

#login_top
{
	width: 800px;
	margin: 100px auto 0 auto;
}


#login
{
	width: 800px;
	height: 220px;
	margin: 10px auto 0 auto;
}

.login
{
	width: 800px;
	height: 160px;
	margin: 0 auto 0 auto;
}

.left
{
	float: left;
	width: 45%;
	height: 120px;
	margin-top: 40px;
	padding-left:50px;
	border-right: 1px solid #ccc;
}
.left h5
{
	float: left;
	padding:12px 0 0 10px;
	width: 55%;
	font-size: 24px;
	font-weight: bold;
	color: #808080;
	line-height:100%;
}

.left h5 span
{
	color: #2366A8;
font-style: italic;
	font-size: 32px;
	padding-right:6px;

}

.left  div
{
    margin-top:25px;
    }

.left p
{
	padding: 27px 8px 0 15px;
	line-height: 160%;
	color: #333;
}


.right
{
	float: left;
	width: 45%;
	height: 120px;
}

.right p
{
	height:18px;

	line-height: 2em;
	padding: 38px 0 0 58px;
	_padding:10px 0 0 58px;

	color: #666;
	font-weight: bold;
}

.bottom
{
	width: 90%;
	float: left;
	margin-top: 120px;
	text-align: center;
	line-height: 160%;
	color: #4d4d4d;
}
.bottom a
{
	color: #2366A8;
	text-decoration: none;
	font-weight: bold;
}

.login_btn
{
	width: 68px;
	height: 26px;
	cursor: pointer;
}

.msg
{
	float: left;
	width: 100%;
	height: 120px;
	margin-top: 40px;
	border-right: 1px solid #ccc;
	padding-right:20px;
}
.msg h5
{
	float: left;
	padding:12px 0 0 10px;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #808080;
	line-height:100%;
}


.msg p
{
	padding: 27px 8px 0 15px;
	line-height: 160%;
	color: #333;
}
