@charset "utf-8";
/* CSS Document */
html, body, p,form,dl,dt,dd,img,ul,li,h1,h2,h3,h4,h5,h6,h7,h8,h9 {margin: 0;padding: 0;border: 0;}
select,input,img{vertical-align:middle;}
input{ cursor:pointer}
a {color:#1843a1;text-decoration:none;hide-focus: expression( this.hideFocus=true );outline: none;}
a:hover, a:active, a:focus {text-decoration:none;}
em,tt,span,i{font-style:normal; font-family:Microsoft YaHei;}
img{ border-width:0;}
li{list-style:none;}
.clear
{
	clear:both;
}
body
{
	font: 75%/1em Arial, Helvetica, sans-serif;
	line-height:150%;
	color:#0d0b0e;
	font-family:Microsoft YaHei;
	background:url(../images/header_bg.jpg) repeat-x #fff;
}
#box									{width:1000px; margin:0 auto;}

/*师徒关系--shitu.html*/
.teacher_zl								{margin-top:10px; border:1px solid #f4f5f5; background:#f0fffa; padding:0px 0 26px 29px;}
.teacher_zl_tx							{width:165px; height:205px; float:left; border:2px solid #d5dcda; background:#f7f7f7; margin-right:50px; display:inline; margin-top:27px;}
.teacher_zl_tx h1						{padding:9px; border-bottom:2px solid #d5dcda;}
.teacher_zl_btn							{width:165px; height:38px; background:url(../images/teacher01.jpg) repeat-x; border:0px; font-size:14px;}
.teacher_zl_list						{width:315px; float:left; margin-top:47px;}
.teacher_zl_list ul li					{font-size:17px; line-height:33px;}
.teacher_zl_list ul li em				{width:90px; float:left;}
.teacher_zl_list ul li tt				{font-size:12px;}
.teacher_zl_list ul li span a			{color:#e82031;}
.teacher_zl_hua							{background:url(../images/teacher07.jpg) no-repeat; height:40px; line-height:40px; padding:0 28px 0 45px; float:right; font-size:20px; margin-top:10px;}
.teacher_tdlist							{border:1px solid #d4d4d4; background:url(../images/teacher08.jpg) repeat-x; margin-top:22px;}
.teacher_tdlist h1						{height:45px; line-height:45px; font-size:17px; font-weight:100; padding-left:30px; border-bottom:1px solid #d4d4d4;}
.teacher_tdlist ul						{height:630px; overflow:auto;}
.teacher_tdlist ul li					{width:281px; height:148px; float:left; margin:24px 19px 32px 25px; display:inline;}
.teacher_tdlist ul li h2				{width:139px; height:139px; float:left; margin:7px 10px 0 0; display:inline;}
.teacher_tdlist ul li span				{width:130px; height:26px; line-height:26px; float:left;}
.teacher_tdlist ul li tt				{height:24px; float:left; margin-top:15px;}
.td_btn									{width:66px; height:24px; color:#fff; background:url(../images/teacher10.jpg) no-repeat; border:0px;-moz-box-shadow:2px 2px 2px #8a8e8c; -webkit-box-shadow:2px 2px 2px #8a8e8c; box-shadow:2px 2px 2px #8a8e8c;}
.td_btn1								{width:48px; height:24px; color:#fff; background:url(../images/teacher10.jpg) no-repeat; border:0px;-moz-box-shadow:2px 2px 2px #8a8e8c; -webkit-box-shadow:2px 2px 2px #8a8e8c; box-shadow:2px 2px 2px #8a8e8c; margin-left:15px; display:inline;}
.teacher_yema							{height:65px;}
.teacher_yema ol						{float:right; line-height:37px;}
.teacher_yema ol a						{padding:0 7px; color:#000;}
.teacher_yema ol a:hover				{color:#ea2535;}
.teacher_yema ol a.sel					{color:#ea2535;}
.teacher_yema ol em						{padding:0 7px; color:#000;}


/*VIP专区--vip_zq.html*/
.vip_nr									{margin-top:10px;}
.vip_bg									{background:url(../images/vip03.jpg) repeat-y;}
.vip_left								{width:316px; float:left;}
.vip_top01								{padding:0px; margin:0px; height:5px;background:url(../images/vip13.jpg) no-repeat;}
.vip_right								{width:677px; float:left; }
.vip_mp									{width:275px; height:130px; float:left; border:1px solid #e3e3e3;-moz-box-shadow:2px 2px 2px #333333; -webkit-box-shadow:2px 2px 2px #333333; box-shadow:2px 2px 2px #333333;}
.vip_mp h1								{width:70px; height:70px; padding:3px; border:1px solid #dedede; float:left; margin:12px 0 0 12px; display:inline;}
.vip_mp ul								{height:130px; float:left; padding-left:15px; width:170px; margin-top:12px; font-size:14px;}
.vip_mp ul li							{line-height:24px;}
.vip_mp ul li em						{color:#fa3f36;}
.vip_left_one							{float:left; margin-top:50px;}
.vip_left_two							{float:left; margin-top:18px;}
.vip_r_tit								{background:url(../images/vip08.jpg) no-repeat; height:106px; margin-top:56px; }
.vip_r_tit p							{padding:58px 130px 0 140px; line-height:40px; text-align:center; font-size:13px;}
.vip_r_tit p em							{font-size:17px;}
.vip_r_list								{padding:16px 90px;}/*9999999999*/
.vip_r_list ul li						{line-height:25px;}
.vip_r_list ul li i						{width:20px; height:20px; float:left; font-size:9px; line-height:20px; background:url(../images/vip09.jpg) no-repeat; text-align:center; margin-top:3px;}
.vip_r_list ul li span					{width:465px; float:right;}
.vip_r_list h1							{line-height:82px; font-size:20px; padding-left:30px;}
.vip_r_jiesuan							{border:1px solid #d1d1d1; padding:0 22px; line-height:38px; font-size:13px;}
.vip_r_jiesuan b						{font-size:14px;}
.vip_r_zonge							{line-height:80px; text-align:right;}
.vip_r_zonge tt							{font-size:23px; color:#fc2624;}
.vip_r_xieyi							{margin-top:33px; line-height:40px; text-align:center;}
.vip_r_xieyi a							{color:#60a68c;}
.vip_r_btn								{width:73px; height:28px; border:0px; background:url(../images/vip11.jpg) no-repeat; line-height:28px; margin-left:213px; display:inline;}
.vip_pic_lunhuan						{margin-top:62px;}
.vip_lunhuan_tit						{height:63px; background:url(../images/vip12.jpg) repeat-x; font-size:25px; padding-left:30px; line-height:63px;}
.vip_pic_nr								{border:1px solid #d1d1d1; padding:23px 0px 32px 23px;}

/*VIP专区--vip_kc.html*/
.vip_bg_kc								{background:url(../images/vip15.jpg) repeat-y;}
.vip_left_kc							{width:318px; float:left;}
.vip_right_kc							{width:675px; float:left; }
.vip_r_tit_kc							{background:url(../images/vip18.jpg) no-repeat; height:106px; margin-top:56px; }
.vip_r_tit_kc p							{padding:58px 130px 0 140px; line-height:40px; text-align:center; font-size:13px;}
.vip_r_tit_kc p em						{font-size:17px;}
.vip_r_btn_kc							{width:73px; height:28px; border:0px; background:url(../images/vip20.jpg) no-repeat; line-height:28px; margin-left:213px; display:inline;}

/*VIP专区--vip_js.html*/
.vip_jstop								{height:258px;}
.vip_jstop_l							{width:205px; float:left;}
.vip_jstop_lt							{width:203px; height:156px; border:1px solid #dcdcdc;}
.vip_jstop_lt h1						{width:98px; height:98px; float:left; margin:10px 8px 22px 9px; display:inline;}
.vip_jstop_lt ul						{margin-top:8px; float:left; width:85px;}
.vip_jstop_lt ul li						{line-height:17px;}
.vip_jstop_lt ul li i					{color:#ff4342;}
.vip_jstop_lt ul li em					{width:60px; height:17px; line-height:17px; background:#00251e; color:#fff; text-align:center; float:left;}
.vip_jstop_lt p							{height:25px; border-top:1px solid #dcdcdc; float:left; width:100%;}
.vip_jstop_lt p a						{width:101px; height:25px; float:left; background:#e6fffb; line-height:25px; text-align:center; color:#333;}
.vip_jstop_lb							{width:203px; height:99px; border:1px solid #dcdcdc; border-top:0px;-moz-box-shadow:2px 2px 2px #333333; -webkit-box-shadow:2px 2px 2px #333333; box-shadow:2px 2px 2px #333333;}
.vip_jstop_lbtn							{width:191px; height:48px; border:0px; background:url(../images/vip21.jpg) no-repeat;-moz-box-shadow:2px 2px 2px #333333; -webkit-box-shadow:2px 2px 2px #333333; box-shadow:2px 2px 2px #333333; margin:25px 0 0 6px; display:inline;}
.vip_jstop_c							{width:566px; height:256px; float:left; margin-left:7px; display:inline; border:1px solid #dcdcdc;-moz-box-shadow:2px 2px 2px #333333; -webkit-box-shadow:2px 2px 2px #333333; box-shadow:2px 2px 2px #333333;}
.vip_jstop_r							{width:209px; height:256px; float:right; border:1px solid #dcdcdc; background:url(../images/vip22.jpg) repeat-x;}
.vip_jstop_rtop							{height:33px; line-height:33px; text-align:center; font-size:16px;}
.vip_jstop_rzx							{width:209px; height:70px; line-height:27px; font-size:15px; background:url(../images/vip23.jpg) no-repeat; border-bottom:2px solid #ececec;}
.vip_jstop_rzx a						{width:129px; height:29px; float:left;padding:41px 0 0 80px;}
.vip_jstop_rkc							{width:209px; height:70px; line-height:27px; font-size:15px; background:url(../images/vip24.jpg) no-repeat; border-bottom:2px solid #ececec;}
.vip_jstop_rkc a						{width:129px; height:29px; float:left; padding:41px 0 0 80px;}
.vip_jstop_rfw							{padding:13px 0 0 9px;}
.vip_jstop_rfw a						{ width:193px; height:54px; float:left;-moz-box-shadow:2px 2px 2px #333333; -webkit-box-shadow:2px 2px 2px #333333; box-shadow:2px 2px 2px #333333;border-radius:6px; overflow:hidden;}
.vip_jsnr								{border:1px solid #b6b6b6; margin-top:19px; padding:0 94px 34px 108px}
.vip_jsnr_pic							{text-align:center; margin:54px 0 42px 0}
.vip_jsnr_pic1							{margin-bottom:46px; margin-left:35px;}
.vip_jsnr_l								{width:377px; float:left; margin:6px 0 0 10px; display:inline;}
.vip_jsnr_l h1							{text-align:center;}
.vip_jsnr_list							{border:1px solid #ebece3; background:#fcfaee; margin-top:15px; padding-bottom:40px;}
.vip_jsnr_list h2						{line-height:85px; font-size:20px; padding-left:46px;}
.vip_jsnr_list ul						{padding-left:23px;}
.vip_jsnr_list ul li					{line-height:25px;}
.vip_jsnr_list ul li i					{width:20px; height:20px; float:left; font-size:9px; line-height:20px; background:url(../images/vip09.jpg) no-repeat; text-align:center; margin-top:3px; margin-right:5px; display:inline;}
.vip_jsnr_list ul li span				{width:300px; float:left;}
.vip_jsnr_list ul li tt					{width:20px; height:20px; float:left; font-size:9px; line-height:20px; background:url(../images/vip30.jpg) no-repeat; text-align:center; margin-top:3px; margin-right:5px; display:inline;}


/*VIP专区--vip_shops.html*/
.vip_zs_left							{width:244px; border:1px solid #d5d5d5; float:left; margin-top:10px;}
.vip_zs_lpic							{padding:23px; padding-bottom:0px;}
.vip_zs_lpic p							{height:49px; line-height:49px; margin-top:3px; text-align:center; font-size:15px;}
.vip_zs_lrz								{border-top:1px solid #d5d5d5; line-height:37px; padding-left:22px; font-size:19px;}
.vip_zs_lrz em							{float:left; width:93px;}
.vip_zs_lrz span						{float:left; width:80px; height:25px; line-height:25px; text-align:center; font-size:13px; background:#48b78d; color:#fff; margin-top:6px;}
.vip_zs_lrz tt							{float:left; margin-top:6px;}
.vip_zs_lbz								{background:url(../images/vip32.jpg) no-repeat; border-top:1px solid #d5d5d5; padding:15px 0 10px 82px ;}
.vip_zs_lbz p							{line-height:26px;}
.vip_zs_lbz p i							{color:#4ab790;}
.vip_zs_lbs								{padding:15px 0 15px 40px; border-top:1px solid #d5d5d5;}
.vip_zs_lbs a							{width:164px; height:46px; background:url(../images/vip33.jpg) no-repeat; float:left; text-align:center; line-height:46px; color:#000; font-size:20px; }
.vip_zs_lrz i							{color:#ff1d1e;}
.vip_zs_lzs								{background:url(../images/vip34.jpg) repeat-x;}
.vip_zs_lzs h1							{line-height:51px; text-align:center; font-size:24px; font-weight:100;}
.vip_zs_lzs h1 a						{color:#000;}
.vip_zs_lzs	ul							{padding:15px 15px 0 15px;}
.vip_zs_lzs ul li						{width:101px; float:left; margin:0 3px; display:inline;}
.vip_zs_lzs ul li p						{line-height:24px; margin-bottom:5px; text-align:center; color:#000;}
.vip_zs_right							{width:747px; float:right; margin-top:10px;}
.vip_zs_rtop							{margin-bottom:10px;}
.vip_zs_rtopl							{border:1px solid #d5d5d5; width:491px; height:272px; word-break: break-all; float:left;}
.vip_zs_rtopl p							{padding:25px 15px 0 18px; float:left; width:455px;}
.vip_zs_rtopl p i						{width:67px; float:left; line-height:17px; font-weight:bold;}
.vip_zs_rtopl p span					{width:387px; float:left;}
.vip_zs_rtopl p span tt					{background:#fef3e6; border:1px solid #ffdebe; color:#ed7423; padding:0 5px; line-height:19px; margin:0 9px 8px 0; display:inline; float:left;}
.vip_zs_rtopr							{width:244px; height:272px; float:right; border:1px solid #d5d5d5;}
.vip_zs_rtopr h1						{line-height:38px; margin-top:15px; font-size:20px; padding-left:34px; font-weight:100;}
.vip_zs_rtopr p							{line-height:31px; font-size:13px; height:31px; padding-left:34px;}
.vip_zs_rtopbom							{width:184px; height:101px; float:left; margin:5px 0 0 28px; display:inline;border:1px solid #d5d5d5;}
.vip_zs_rtopbom span					{width:60px; height:53px; float:left; line-height:53px; text-align:center;}
.vip_zs_rtopbom span a					{color:#000;}
.vip_zs_rtopbom em						{width:159px; height:44px; float:left; background:url(../images/vip35.jpg) repeat-x; margin-left:13px; display:inline; line-height:44px; text-align:center;}
.vip_zs_rtopbom em a					{color:#fff; font-size:23px;}
.div_zs_rcsfw							{background:url(../images/vip36.jpg) repeat-x; height:35px; line-height:35px; margin-bottom:5px; padding:0 19px 0 14px; font-size:20px;}
.div_zs_rcsfw a							{float:right; font-size:12px; color:#000; }
.div_zs_rcsnr_content					{border:1px solid #d5d5d5; padding:22px 0 40px 23px; margin-bottom:15px;}
.div_zs_rcsnr							{border:1px solid #d5d5d5; padding:22px 0 40px 23px; margin-bottom:15px;}
.div_zs_rcsnr span						{border:1px solid #acbea7; float:left; margin-right:26px; display:inline; margin-bottom:10px; width:114px;}
.div_zs_rcsnr ul li						{width:187px; float:left; padding:10px; margin-right:25px; display:inline;}
.div_zs_rcsnr ul li h1					{float:left;}
.div_zs_rcsnr ul li h1 img				{width:187px; height:187px;}
.div_zs_rcsnr ul li p					{line-height:24px; font-size:13px;}

/*新闻动态--news_shops.html*/
.div_zs_news							{padding:0 7px 0 12px;}
.div_zs_news ul li						{border-bottom:1px dashed #c8c8c8; padding:15px 30px 15px 3px;}
.div_zs_news ul li h1					{width:185px; float:left;}
.div_zs_news ul li span					{width:485px; line-height:30px; float:left; margin-left:18px; display:inline; color:#9a9a9a;}
.div_zs_news ul li span a				{font-size:19px; font-weight:bold; color:#000; line-height:30px; padding-right:15px }
.div_zs_news ul li span tt				{background:url(../images/vip49.jpg) no-repeat; padding-left:20px;}
.div_zs_news ul li i					{width:485px; line-height:24px; height:24px; float:left; margin-left:18px; display:inline; color:#9a9a9a;}
.div_zs_news ul li em					{width:485px; line-height:24px; height:72px; overflow:hidden; float:left; margin-left:18px; display:inline; color:#9a9a9a;}
.div_zs_news ul li b					{width:485px; float:right; text-align:right; font-weight:100;}
.div_zs_news ul li b a					{color:#f68e67; text-decoration:underline;}

.vip_about_pic							{text-align:center; margin-top:10px; margin-bottom:10px;}
.vip_about_tit							{border-bottom:1px dashed #c8c8c8; padding:0 10px 20px 10px; font-size:13px;}
.vip_about_tit span						{width:100%; line-height:30px; float:left; font-size:13px;}
.vip_about_tit span	b					{font-size:16px; color:#0775bf;}
.vip_about_tit em						{line-height:24px; width:100%; float:left; color:#8a8a8a; background:url(../images/vip51.jpg) no-repeat; padding-left:15px;}
.vip_about_tit em i						{background:url(../images/vip49.jpg) no-repeat; padding-left:20px;}
.vip_about_tit tt						{line-height:24px; width:100%; float:left; color:#8a8a8a;}
.vip_about_tit tt a						{color:#28abe3; text-decoration:underline;}
.vip_about_info							{border-bottom:1px dashed #c8c8c8; padding:15px 10px; font-size:13px;word-break: break-all;}
.vip_about_info span					{width:100%; line-height:30px; float:left; font-size:13px;}
.vip_about_info em						{line-height:24px; width:100%; float:left; color:#8a8a8a;}
.vip_about_info tt						{padding-top:15px; color:#71c6ed; width:100%; line-height:30px; float:left; font-size:15px;}

.sqxx_top_l					{width:325px; height:231px; float:left; margin-left:5px; display:inline;}
.sqxx_top_r					{width:414px; height:222px; float:right; border:1px solid #ccc; padding-top:7px;}
.sqxx_top_rlist				{line-height:29px; font-size:15px; padding-left:15px;}
.sqxx_btn					{width:72px; height:21px; background:url(../images/gu01.jpg) no-repeat; color:#fff; border:0px; line-height:21px; margin-top:5px;}
.sqxx_bom					{margin-top:10px;}



.div_zs_rcsnr span h1 { float:left; font-size:12px; padding-left:5px; padding-right:5px; color:#666}
.div_zs_rcsnr span h2 { float:left; font-size:12px; font-weight:normal; padding-left:5px; color:#666; padding-right:5px;}










