
body{ background: none; padding:0;margin:0;font-size:12px; font-family:"微软雅黑", "宋体";} 

.you                { width:222px; height:220px; top:0; right:0; position: fixed; z-index:999999}
.you_xia                { width:180px; height:280px; background:url(../images/fanhui.png) no-repeat; right:0; position:absolute;overflow:hidden;  z-index:999999}
.you_xia h1     { float:left; width:180px; font-size:14px; margin-top:90px; margin-left:30px}
.you_xia h2     { float:left; width:180px; font-size:14px; margin-top:43px; margin-left:30px}
.you_xia h2 a   { color:#000}
.you_xia h2 a:hover   { color:#666}
.you_xia h3     { float:left; width:180px; font-size:14px; margin-top:10px; margin-left:32px}
.you_xia h3 a   { color:#000}
.you_xia h3 a:hover   { color:#666}
.you_xia h4     { float:left; width:180px; font-size:12px; margin-top:10px; margin-left:32px}
.you_xia h4 i { width:47px; height:36px; float:left; margin-top:14px; margin-left:3px; color:#48b68d; font-style:normal}
.you_xia h4 i a { width:47px; height:36px; color:#48b68d;}
.you_xia h4 i a:hover { color:#000}
.you_xia h4 em { width:18px; height:13px; float:left;  margin-top:14px; margin-left:20px; color:#48b68d; font-style:normal}
.you_xia h4 em a { float:left; width:18px; height:13px; background:url(../images/up.png) no-repeat;}
.you_xia h4 em a:hover { background:url(../images/up02.png) no-repeat;}

/*豆币*/
.doubi { height:2708px; background:url(../images/doubi.jpg) no-repeat center; margin:0 auto;  }

/*加入VIP*/
.jiaru { height:3492px; background:url(../images/jiaru.jpg) no-repeat center; margin:0 auto;  }

/*诚信保障*/
.chengxin { height:2383px; background:url(../images/chengxin.jpg) no-repeat center; margin:0 auto;  }

/*师徒关系*/
.shituguanxi { height:3543px; background:url(../images/guanxi.jpg) no-repeat center; margin:0 auto;  }
















